<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Editar Cliente</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section th:fragment="editarCliente">
            <form th:action="@{/guardar}" th:object="${cliente}"
                  method="POST" class="was-validated">
                <input type="hidden" name="id_cliente" th:field="*{id_cliente}"/>
                <section th:replace="layout/cliente/botonesEditar :: botonesEditar"></section>
                <div id="details">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Editar</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="nombre">Nombre</label>
                                            <input type="text" class="form-control" name="nombre" 
                                                   required="true" th:field="*{nombre}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="apellido">Apellido</label>
                                            <input type="text" class="form-control" name="apellido" 
                                                   required="true" th:field="*{apellido}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="dpi">DPI</label>
                                            <input type="text" class="form-control" name="dpi" 
                                                   required="true" th:field="*{dpi}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="nit">NIT</label>
                                            <input type="text" class="form-control" name="nit" 
                                                   required="true" th:field="*{nit}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="direccion">Direccion</label>
                                            <input type="text" class="form-control" name="direccion" 
                                                   required="true" th:field="*{direccion}"/>
                                        </div>

                                        <div class="form-group">
                                            <label for="telefono">Telefono</label>
                                            <input type="text" class="form-control" name="telefono" 
                                                   th:field="*{telefono}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="cellular">Celular</label>
                                            <input type="text" class="form-control" name="ceular" 
                                                   th:field="*{celular}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="email">"'Correo Electronico'"</label>
                                            <input type="email" class="form-control" name="email" 
                                                   required="true" th:field="*{email}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="id_genero">Genero</label>
                                            <input type="text" class="form-control" name="id_genero" 
                                                   th:field="*{id_genero}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="fechadenacimiento" th:text="'Fecha de Nacimiento'">Fecha de Nacimiento</label>
                                            <input type="date" value="1999-01-01" min="1950-01-01" max="2030-12-31" class="form-control" name="fechadenacimiento" placeholder="YYYY-MM-DD"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </body>
</html>

