<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla::head">
        <title>inicio</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <section th:replace="layout/motocicleta/botonesAgregarMotocicleta :: botonesAgregarMotocicleta"></section>
        <section th:replace="layout/motocicleta/AgregarMotocicleta :: agregarMotocicleta"></section>
        <section th:replace="layout/motocicleta/listadoMotocicletas :: listadoMotocicletas"></section>
        <div th:if="${clientes == null or clientes.empty}">
            La lista de personas está vacía
        </div>
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>