<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Editar Marca</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section th:fragment="editarMarca">
            <form th:action="@{/guardarMarca}" th:object="${marca}"
                  method="POST" class="was-validated">
                <input type="hidden" name="id_marca" th:field="*{id_marca}"/>
                <section th:replace="layout/marca/botonesEditarMarca :: botonesEditarMarca"></section>
                <div id="details">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Editar</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="nombre">Nombre</label>
                                            <input type="text" class="form-control" name="nombre" 
                                                   required="true" th:field="*{nombre}"/>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </body>
</html>

