<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Listado Marcas</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section th:fragment="listadoMarcas" id="marcas">
            <div class="container table-responsive">
                <div class="row ">
                    <div class="col-md-13">
                        <div class="card">
                            <div class="card-header">
                                <h4>Listado de marcas</h4>
                            </div>
                            <div th:if="${marcas != null and !marcas.empty}">
                                
                                <table class="table table-bordered table-dark">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>#</th>
                                            <th th:text="Nombre"></th>
                                            <th th:text="Editar"></th>
                                            <th th:text="Eliminar"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="marca, contador : ${marcas}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${marca.nombre}]] </td>
                                            <td>
                                                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/editarMarca/} + ${marca.id_marca}"
                                                   class="btn btn-secondary">
                                                    <i class="fas fa-angle-double-right"></i> Editar
                                                </a>
                                            </td>
                                            <td>
                                                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/eliminarMarca(id_marca=${marca.id_marca})}"
                                                   class="btn btn-dark">
                                                    <i class="fas fa-angle-double-right"></i> Eliminar
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${marcas == null or marcas.empty}">
                                <span th:text="'Lista Vacia'">Lista vacía</span>
                            </div>
                        </div>
                    </div>

                    
                </div>
            </div>
        </section>
    </body>
</html>
